:root {
  --primaryColor: hsl(199, 100%, 33%);
  --secondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 365);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --CardBG: rgb(255, 255, 235);
  --CardHover:rgba(255,255,255);
}

.main {
  width: 100%;

  .secTitle {
    .title {
      position: relative;
      width: max-content;
      margin: 2rem 0;
      align-items: center;
      color: var(--textColor);
      z-index: 1000;

      &::after {
        position: absolute;
        background: var(--blackColor);
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
        right:0;
        bottom:5px;
        z-index: -1;
      }
    }
  }


  .secContent{
    justify-content: center;
    gap:1.5rem;


    .singleDestination{
      height: 100%;
      display: grid;
      row-gap: 10px;
      border-radius: 10px;
      background-color: var(--whiteColor);
      box-shadow: 0 4px 6px rgba(140, 140,140 ,0.549);
      text-align: center;
      overflow: hidden;
      /* padding:2rem; */

      &:hover{
              background-color: lightgray;
              box-shadow: 1 4px 4px rgba(85,85,114 , 0.549);
              transition: .3s ease-in-out;
      }

      .imageDiv{
        height: 100%;
        width:100%;
        overflow: hidden;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 2s ease;
        }
        &:hover{
          img{
            transform: scale(1.1);    
          }
        }
      }


      .cardInfo{
        padding: 1rem;

        .desTitle{
          font-size: 1.8rem;
          color: var(--blackColor);
        }


        .continent{
          gap: .5rem;

          .icon{
            color: var(--blackColor);
            font-size: 30px;
            font-weight: 400;
          }

          .name{
            font-size: 14px;
            font-weight: 400;
            color: var(--textColor);
            padding-bottom: 5px;
          }
        }

        .fees{
            width:100%;
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem 0;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;

            .grade{
              color: var(--textColor);
              max-width: 100%;
              line-height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;


              small{
                background: var(--gradientColor);
                color: var(--textColor);
                border-radius: 1rem ;
                padding: 1px 10px;
                text-align: center;
                margin-left: 5px;
                font-size: 12px;

                &:hover{
                  background: gray;
                }
              }
            }
            .price{
              font-size: 20px;
              color: var(--blackColor);

            }
        }

        .desc{
          font-size: 13.5px;
          color: var(--textColor);
          font-weight: 500;
          padding: 0 20px;
        }


        .btn{
          margin-top: 1rem;
          color: var(--whiteColor);
          justify-content: space-between;
          gap:2rem;
          font-weight: 500;

          .icon{
            font-size: 25px;
          }
        }
      }
    }
  }
}


@media screen and (min-width:500px){
  .title{
    font-size: 1.5rem;
  
  }
  /* .title::after{
    width: 155px !important;
  } */
  
  .secContent{
    grid-template-columns: repeat(2,1fr);
    /* flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: center; */
    .singleDestination{
      height: auto;
    }

  }
}

@media screen and (min-width:840px){
  /* .title{
    font-size: 1.5rem;
  
  }
  .title::after{
    width: 155px !important;
  } */
  
  .secContent{
    grid-template-columns: repeat(3,1fr);
    /* justify-content: space-around;
    align-items: center; */
    .singleDestination{
      height: auto;
    }

  }
}

@media screen and (min-width:1240px){
  grid-template-columns:repeat(4,1fr);
  .singleDestination{
    height:auto;
  }
}
